<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="signin.css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "properties": {
                "element": {"#": "signin"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="signin" class="Signin">
	<div class="outer">
	<div class="innerDiv">
		<h6><span>You have Successfully Logged-In.</span></h6>
		</div>
	</div>
    </div>
</body>
</html>
